/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
  padding: 0 !important;
}

.mat-snack-bar-container.notif-success {
  background-color: #00600f;
  color: white;
}

.mat-snack-bar-container.notif-error {
  background-color: #ba000d;
  color: white;
}

.mat-snack-bar-container.notif-info {
  background-color: #006d81;
  color: white;
}
